.App {
  text-align: center;
  /* border: 3px solid orange; */
  height: 100vh;
  padding: 5px;
}

.App-Header {
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;;
  padding: 5px;
  gap: 30px;
  
}

.image-text-container{
  /* border: 2px solid magenta; */
  padding: 5px;
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.image-text-container > img{
  width: fit-content;
  height: fit-content;
}

.home-row-inner{
  /* border: 2px solid purple; */
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.home-row-inner  > .image-text-container{
  /* border: 2px solid blue; */
  background: #f1f1f1;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.home-row-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: 10px;
}


.home-row-outer > p {
  color: #262626;
  font-size: 12px;
  text-align: left;
  font-weight: 600;
  margin: 5px;
}

.home-row-outer {
  /* border: 2px solid purple; */
  padding: 0;
  margin: 0;
}



